.list-item {
  list-style-type: none;
  border-width: 1px;
  border-style: solid;
  margin: 10px;
  width: 90%;
  padding: 10px;
  border-color: #d7dae6;
}
.symbol-button {
  border-width: 0px;
  background-color: transparent;
}
.symbol-image {
  height: 35px;
  width: 35px;
}
.que-text {
  color: #000000;
  font-size: 20px;
}
.hori-line {
  width: 98%;
  border-width: 1px;
  color: #e4e7eb;
}
.ques-con {
  display: flex;
  justify-content: space-between;
}
.ans-con {
  font-size: 18px;
  color: #9aa5b1;
}
