.bg-container {
  background-color: #f1f5f8;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  background-color: #ffffff;
  height: 80vh;
  width: 80%;
  border-radius: 10px;
}
.head {
  color: #cb8805;
  font-size: 30px;
  text-align: center;
}
.unordered-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
